body {
  text-align: center;
  background-color: rgb(255, 255, 234);
  background-size: cover;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 3px black;
}

p,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}
p {
  font-size: 10px;
}
h2 {
  font-size: 15px;
}

.card-one {
  width: fit-content;
  display: block;
  margin: 0 auto;
  background-color: rgb(255, 255, 234);
  border: 5px solid #ff98d7;
  box-shadow: 1px 1px 3px #000;
  padding: 45px;
  margin-top: 100px;
}

.link,
.link1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.link:hover,
.link1:hover {
  text-decoration: underline;
  color: #ff98d7;
  cursor: pointer;
}

.link1 {
  font-size: 15px;
}
.link {
  font-size: 10px;
}
